<div class="heading">
  <span class="playfair prename">Hi. My name is</span>
  <span class="name">PAU ABELLA</span>
  <div class="description">
    <span>I am a <span class="underline-gradient">Frontend Engineer</span> highly passionate about software and design.</span>
    <span>Making cool things fast and pretty is my goal.</span>
  </div>
</div>
<div class="content">
  <div class="playfair section-header">
    <span class="playfair section-title">About</span>
    <hr>
  </div>
  <div class="mc-about-content">
    <!-- {{ abouttexts }} -->
  </div>

</div>
